.DS_Store
.build/
dist/
Packages/
xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/
